################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PartDetails/.vs/PartDetails/v15
/PartDetails/PartDetails/obj/Debug
